.bg-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  width: 100vw;
  height: 300px;
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  border-radius: 15px;
}

.app-card-heading {
  color: #0f172a;
  font-size: 25px;
  font-weight: bold;
}

.app-card-description-1 {
  color: #1e293b;
  font-size: 25px;
}

.app-card-description-2 {
  color: #334155;
  font-size: 13px;
}

button {
  border: 0px solid;
  border-radius: 10px;
  color: #1e293b;
  font-family: 'Roboto';
  height: 35px;
  width: 130px;
  background-color: #ffffff;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .app-card-heading {
    font-size: 50px;
  }
  .app-card-description-1 {
    font-size: 40px;
  }
  .app-card-description-2 {
    font-size: 25px;
  }
  button {
    height: 40px;
    width: 140px;
    font-weight: bold;
  }
  .bg-container {
    padding: 45px;
  }
  .app-card {
    height: 450px;
    width: 70vw;
  }
}
